      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       /* use chrome and not firefox*/
      
	  .glyphicon-info-sign {
		   float: right;
	  }
      #map {
        max-width: 500px; 
		min-height: 460px;
		max-height: 460px;
		margin: 5px;
		
      }
	  #epoch{
	  min-width: 590px; 
	  min-height: 460px; 
	  height: 370px;
	  width: 100px;
	  margin: 5px;
	  }
	  #title{
	    font-family: 'Palatino Linotype';margin: 0 0 24px; text-align: center; 
	    font-variant: small-caps;
	  		  }
	  		  
	  	#inft{
	    background-color: rgba(255,255,255,0.85);
	  	height: 60px;
	  	text-align: center;
	  	/* fonts : Trocchi , Palatino Linotype*/
	    color: 	#606060;
	    font-family: 'Palatino Linotype'; font-size: 14px;
	    margin: 10px 150px 20px 150px; 
	  		  }
			  h1{
	  	  text-align: center;
	  	  font-family: 'Arial'; font-size: 30px;
	  }
	  h4{
	  	  text-align: right;
	  	  font-family: 'Arial'; font-size: 14px;
	  }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
		width: 100%;
        margin: 0;
        padding: 0;
      }
	